body{
    background-color: rgb(104, 105, 105);
}
.fundo{
    width: 800px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    background-color: white;
    text-align: justify;
    padding: 20px;
}
h1{
    text-align: center;
}